
/** 
    This stylesheet was 
    Copyright: FruitPath and TeknoloGenie
    By: Aaron Russell
**/

@font-face {
	font-family: 'Nexa';
	src:url('../fonts/NexaLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

body {
    font-family: Nexa;
}

#map { height: 100%; }

/** 
    ---- Overwritten App Framework UI Styles ----
**/

#afui > #splashscreen {
    background:rgba(127,209,228,1) !important;
    padding-top:0px !important;
}
#afui > #splashscreen > img {
    height: 100%;
}

#afui > .header {
    background:rgba(127,209,228,1) !important;
    border-bottom-color: rgb(111, 180, 196) !important;
    height: 50px;
    z-index: 10001;
}

#afui .header  h1 {
    background-image:url(../images/toplogo.png);
    background-position:center;
    background-size: contain;
    background-repeat:no-repeat;
    margin-top: 0;
}

#afui .header .button {
    font-size: 24px;
}

#afui > .footer {
    display:none !important;
}

#afui .panel {
    padding: 0px !important;
}
[class*="el-icon-"] {
    text-decoration: none;
}
#afui #afui_modal {
    background: rgba(0, 0, 0, 0.5) !important;
    padding-top: 0px;
    display:block;
    position:absolute;
    top: 50px;
    z-index:1000;
}
#afui #afui_modal .list {
    background-color: transparent !important;
}
#afui #afui_modal .list > li > a:after {
    display: none;
}
#afui #afui_modal .list > li > a {
    margin-left: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 33px;
}

#afui #afui_modal .list li:active {
    background-color: rgba(255,255,255, 0.2);
}

#afui #afui_modal .list a {
    border-bottom: 2px #fafafa solid;
}

#afui #afui_modal .list li {
    color: white;
    border-bottom: none;
}

#afui #afui_modal .list > li > span {
    float:left;
    margin-left: 7px;
    margin-top: -7px;
    font-size: 33px;
}

#afui .panel, #afui #modalContainer, #afui #modal {
    background: transparent  !important;
}

#afui .col2 {
    width: 50%;
    float: left;
}
#afui .col4 {
    width: 25%;
    float: left;
}
#afui .col3 {
    width: 33.3%;
    float: left;
}
#afui .col1-3 {
    width: 33.3%;
    float: left;
}
#afui .col2-3 {
    width: 66.6%;
    float: left;
}

#afui select,
#afui textarea,
#afui input[type="text"],
#afui input[type="search"],
#afui input[type="password"],
#afui input[type="datetime"],
#afui input[type="datetime-local"],
#afui input[type="date"],
#afui input[type="month"],
#afui input[type="time"],
#afui input[type="week"],
#afui input[type="number"],
#afui input[type="email"],
#afui input[type="url"],
#afui input[type="tel"],
#afui input[type="color"] {
    width: 100%;
    height: 30px;
    padding: 10px 2px;
    margin-bottom: 8px;
    border: 1px #7fd1e4 solid;
    border-radius: 6px;
    background-color: #f0f0f0;
    margin-left: 0px;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: normal;
    -webkit-appearance: none;
    box-sizing: border-box;
}


#afui select,
#afui textarea,
#afui input[type="text"]:focus,
#afui input[type=search]:focus,
#afui input[type="password"]:focus,
#afui input[type="datetime"]:focus,
#afui input[type="datetime-local"]:focus,
#afui input[type="date"]:focus,
#afui input[type="month"]:focus,
#afui input[type="time"]:focus,
#afui input[type="week"]:focus,
#afui input[type="number"]:focus,
#afui input[type="email"]:focus,
#afui input[type="url"]:focus,
#afui input[type="tel"]:focus,
#afui input[type="color"]:focus,
#afui .input-group:focus {
    outline:none;
}


#afui input[type='submit'],
#afui input[type='button']{
    font-family:helvetica;
    background: #7fd1e4;
    font-size: 18px;
    color: #ffffff;
    width: 75%;
    margin-left: 12.5%;
    border:none;
    height: 35px;
    border-radius: 8px;
    
}
button {
    width: auto;
    font-size:16px;
    margin-left: 30px;
    margin-top: 5px;
    color: #fff;
    border: none;
    background:#7fd1e4;
    padding: 5px;
    border-radius: 10px;
}

#afui .previous { width: 80px !important; float: left;}
#afui .next { width: 80px !important; float: right; margin-right: 50px;}


#afui .button {
  position: relative;
  display: inline-block;
  padding: 8px 12px;
  margin: 8px 0;
  font-weight: bold;
  color: #000;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #666;
  text-decoration: none;
  z-index: 2;
}

#afui .button.previous {
  margin-left: 16px;
  padding-left: 6px;
}
#afui .button.next {
  margin-right: 16px;
  padding-right: 6px;
}
#afui .button.previous::after {
  color: black;
  z-index: -1;
  font-size: 22px;
  position: absolute;
  top: 2px;
  left: -25px;
  text-align: center;
  border-radius: none;
  border: none;
  border-color: none;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
  font-family: 'chevron';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background-color: transparent;
}
#afui .button.next::after {
  color: black;
  z-index: -1;
  font-size: 22px;
  position: absolute;
  top: 6px;
  right: -25px;
  text-align: center;
  border-radius: none;
  border: none;
  border-color: none;
  box-shadow: none;
  -webkit-transform: none;
  transform: none;
  font-family: 'chevron';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  content: "\f054";
  background-color: transparent;
}

#afui form .divider {
    border-bottom: 2px #a2a2a2 solid;
    line-height: 2px;
    padding-bottom: 8px;
    text-align: right;
    position: absolute;
    margin-top: 0;
    margin-bottom: 10px;
    width: 100%;
}
#afui form {
    max-width: 300px;
    width: 80%;
    margin: auto;
    padding-bottom: 50px !important;
}

#afui input[type="checkbox"] + label:before {
    border: 2px solid #cacece;
    border-radius: 7px;
    top: 10px;
    left: -35px;
}

#afui input[type="radio"] + label, #afui input[type="checkbox"] + label {
    width: 87%;
    font-size: 1.5em;
    padding: 15px 0 0 0;
}

#afui input[type="radio"]:not(.toggle) + label:before {
    border: 2px solid #cacece;
    border-radius: 50%;
    top: 12px;
    margin-left: -35px;
}

#afui input[type="radio"]:checked + label:before {
    background-color: #888;
}

#afui input[type="radio"]:checked+label:before, #afui input[type="checkbox"]:checked+label:before {
    background: #888;
}

img {
    width: 100%;
    height: auto;
}
/** 
    ---- Map / Leaflet  ----
**/

.leaflet-popup-content {
    margin: 5px;
}



/** 
    ---- Searchbar  ----
**/

#searchBar {
    width: 100%;
    box-shadow: 0px 0px 6px #2a2a2a;
    height:40px;
    background: #7fd1e4;
    padding: 5px 50px 0px 50px;
    position:absolute;
    top: -1px;
    display:none;
    z-index:1000;
}

#searchBar > input[type="search"] {
  border-radius: 15px;
    height: 30px;
    text-align:center;
    color: #fff ;
 background: #95e3f5;
}

#searchBar input::-webkit-input-placeholder {
   color: #fff;
}

#searchBar input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

#searchBar input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

#searchBar input:-ms-input-placeholder {  
   color: #fff;  
}

.pullUpBar {
    position: absolute;
    bottom: 0px;
    text-align: center;
}

.blur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}




.aboutLogoImage {
    position:absolute;
    top: 180px;
    overflow: hidden;
    max-width: 80px;
    border: solid 3px rgba(127,209,228,1) !important;
    height: 80px;
    left: 10px;
}
#aboutHeader {
    position: relative;
    top: 0px;
    height: 250px;
    width:100%;
    background-image:url("../images/aaronandaaron.JPG");
    background-size:contain;
    background-repeat: no-repeat;

}
#aboutHeader .imageHeader {
    height: 200px;
    width: 100%;
    position: absolute
}
#aboutContent {
    position:relative;
    
}

#aboutContent h1 {
    position:relative;
    background-color: #fff;
    border-bottom: 1px #aaa solid;
    border-top: 1px #aaa solid;
    color: rgb(146,146,146);
    padding: 5px 10px;
    text-align: left;
    font-size: 18px;
}
#aboutContent p {
    padding:20px;
    font-size: 18px !important;
}
#aboutHeader > img {
    width: 100%;
    height: auto;
}

#aboutHeader h1 {
    position: absolute;
    top: 200px;
    font-size: 28px;
    color: #222222;
    left: 5px;
}

#aboutHeader h2 {
    position: absolute;
    top: 240px;
    border-bottom: none !important;
    left: 10px;
    font-size: 18px !important;
    color: #222222 !important;
}

.half-width {
    width: 50% !important;
}

.markerPopupClass {
    min-width: 180px;
    text-align: center;
}

.markerPopupClass h1{
    font-size: 16px;
}

.direction-controls {
    height: auto;
    color: #fafafa;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.7)
}


.direction-controls a, .markerPopupClass a{
    font-size: 35px;
    color: #7fd1e4;
}

#afui .actions {
    z-index: 100;
    position: relative;
    margin-top: -70px;
}


h1 {
    width: 100%;
    color: #a2a2a2;
    text-align:center;
    font-size: 2.6em;
    margin-top: 20px;
}
h3 {
    width: 100%;
    color: #adadad;
    text-align:center;
    font-size: 16px;
    padding-bottom: 10px;
}

#afui h2 {
    color: #adadad;
    height: auto;
    border-bottom: 2px #d1d1d1 solid;
    position: relative;
    margin-top: 0px;
    text-align:center;
    font-size: 22px;
}

.form-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

.info-popup {
    position: absolute;
    left: 20%;
    margin-top: 40%;
    text-align:  center;
    padding: 10px;
    font-size: 1em;
    width: 60%;
    color: #fafafa;
    height: auto;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.65);
}
.noShadow {
    border-bottom: none !important;
}

.info-popup h1 {
    font-size: 1.3em;
    position: relative;
    top: 0;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
}

.info-popup a {
    font-size: 1.3em;
    text-decoration: none;
    color: #fafafa;
    position: absolute;
    right: -8px;
    top: -8px;
}

.divider a {
    color: #cacaca;
    font-size: 1.2em;
    text-decoration: none;
}

.signup-vendor {
    margin-top: 20px;
}

#myDirDiv {
    color: #f2f2f2 !important;
    
}

.leaflet-routing-container {
    display: none !important;
}

textarea {
    min-height: 100px;
}

#fruit-list {
    margin-top: 20px;
    text-align: center;
    font-family: Nexa;
    color: #f3f3f3;
    font-size: 1.4em;
}